In [15]:
v_array=[]
flat_array=[[3, 2, 1], [4, 6, 5], [], [9, 7, 8]]
for one_element in flat_array:
    print(one_element)
    if one_element in flat_array==[]:
        v_array.append(none)
    else:
        for number in one_element:
            v_array.append(number)
print(sorted(v_array))

[3, 2, 1]
[4, 6, 5]
[]
[9, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
opiniones = [("marcos", 0), ('javiera',5), ('Maria',1), ('Francisca', 3), ('luis',3), ('Dennis', 4), ('fabio',4)]

In [ ]:
personas_dudosas=[]

In [ ]:
for nombre,puntuacion in opiniones:
    if puntuacion > 1 and puntuacion < 5:
        personas_dudosas.append(nombre)

personas_dudosas

In [11]:
personas_dudosas_comp=[nombre for nombre, puntuacion in opiniones if puntuacion > 1 and puntuacion < 5] #aqui es un list comprehension del for anterior
personas_dudosas_comp

['Francisca', 'luis', 'Dennis', 'fabio']

In [14]:
personas_dudosas_comp=[(nombre,puntuacion) for nombre, puntuacion in opiniones if puntuacion > 1 and puntuacion < 5] #aqui es un list comprehension del for anterior
personas_dudosas_comp

[('Francisca', 3), ('luis', 3), ('Dennis', 4), ('fabio', 4)]

In [17]:
##pero tambien lo puedes hacer con un diccionario, solamente que tienes que tener dos elementos, recordar la relacion key:valor
personas_dudosas_comp={nombre:puntuacion for nombre, puntuacion in opiniones if puntuacion > 1 and puntuacion < 5} #aqui es un list comprehension del for anterior
personas_dudosas_comp

{'Francisca': 3, 'luis': 3, 'Dennis': 4, 'fabio': 4}

In [ ]:
#la ruta absoluta es la ruta desde la raiz , o la ruta relativa, que es la ruta tomando como punto de partida donde estoy ejecutando el codigo, Ejemplo: usar .. si te quieres subir de carpeta

In [ ]:
#por ejemplo os.listdir('../modulo1') esto es regresarte a un nivel anterior, llamado modulo1, ya con esto estas dando una ruta relativa.

In [6]:
#ejemplo de un for doble

lista_comidas_persona = [["hamburguesa", "tacos de carnitas", "alitas"], ["pizza", "sushi", "alitas"],
                 ['tacos de pollo','pizza','pasta'], ["tacos", "sushi", "hamburguesas"],
                 ["sushi","pho","tacos"], ['Tacos de pastor',' Ramen', 'Alitas'],
                 ["sushi","hamburguesa","ramen"], ['porotos granados', 'papas fritas', 'hamburguesas'],
                 ['tacos', 'ramen', 'vegetariana'], ["tamales", "pozole", "pasta"]]

lista_comidas=[]
for lista_persona in lista_comidas_persona: #en esta parte accedes primero a la lista inicial
    for comida in lista_persona: #en esta parte iteras sobre cada elemento de la lista
        lista_comidas.append(comida)

In [7]:
lista_comidas

['hamburguesa',
 'tacos de carnitas',
 'alitas',
 'pizza',
 'sushi',
 'alitas',
 'tacos de pollo',
 'pizza',
 'pasta',
 'tacos',
 'sushi',
 'hamburguesas',
 'sushi',
 'pho',
 'tacos',
 'Tacos de pastor',
 ' Ramen',
 'Alitas',
 'sushi',
 'hamburguesa',
 'ramen',
 'porotos granados',
 'papas fritas',
 'hamburguesas',
 'tacos',
 'ramen',
 'vegetariana',
 'tamales',
 'pozole',
 'pasta']

In [ ]:
mandado=[comida if comida.startswith('p') else comida.upper() for comida in mandado]
print(mandado)

In [12]:
lista_comidas_comp = [comida for lista_persona in lista_comidas_persona for comida in lista_persona]
print(lista_comidas_comp) #en este caso, lista_persona que esta al final ya tendria que haber sido
#declarada

['hamburguesa', 'tacos de carnitas', 'alitas', 'pizza', 'sushi', 'alitas', 'tacos de pollo', 'pizza', 'pasta', 'tacos', 'sushi', 'hamburguesas', 'sushi', 'pho', 'tacos', 'Tacos de pastor', ' Ramen', 'Alitas', 'sushi', 'hamburguesa', 'ramen', 'porotos granados', 'papas fritas', 'hamburguesas', 'tacos', 'ramen', 'vegetariana', 'tamales', 'pozole', 'pasta']

In [ ]:
#expresiones regulares, que expresion va a representar un caracter

In [5]:
import re #la libreria que facilita el uso de expresiones regualres

In [ ]:
#regular expresions en python

In [7]:
texto = '''zahid@hotmail.com
871-123-45-67
cda Calle Mi Casa #1234
"Tengo Hambre" - Max, "Tengo hambre tambien yo" respondio Fabio'''

In [3]:
print(texto)

zahid@hotmail.com
871-123-45-67
cda Calle Mi Casa #1234
"Tengo Hambre" - Max, "Tengo hambre tambien yo" respondio Fabio

In [8]:
re.search(r"\d{3}",texto) #La r sirve para que se tome el regex como expresion regular, puedes usar otra
#diagonal invertida en caso de que no se quiera usar la r

In [9]:
if re.search(r"\d{3}",texto):
    print("Encontre algo")     #Si se encuentra, empieza el proceso, es util para validad procesos.

In [11]:
re.match(r"\d{3}-\d{2}",texto) #aqui no hace match porque match siempre empieza en la primera linea
#del string

In [12]:
#USO de flags

re.match(r".*",texto,re.S) #estos son los alias para las flags, recordar que el asterisco es zero o nada
#o mas conocido que trae todo hasta que haya espacio o salto de linea o algo que no sea del anterior regex

In [13]:
re.match(r"\w*",texto,re.S)

In [14]:
#uno de los mas importantes
re.findall(r"a",texto) #te encuentra todos los maches que haya a

['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']

In [16]:
re.findall(r"\w*@\w*\.com",texto) #con esto encuentras el correo

['zahid@hotmail.com']

In [17]:
#por ejemplo encontrar partes de una expresion
re.findall(r"(\w*)@(\w*)\.com",texto)

[('zahid', 'hotmail')]

In [ ]:
print(re.sub(r"\d","NUMERO",texto, count=2))  #permite substituir un patron con otro que yo le especifique

In [ ]:
re.sub(r"(\w*)@(\w*)\.com","ironhack",texto)

In [19]:
#para hacer grupos en python para substituciones es:
print(re.sub(r"(\w*@)\w*(\.com)","\g<1>ironhack\g<2>",texto)) #el \g es lo que empieza un grupo.

zahid@ironhack.com
871-123-45-67
cda Calle Mi Casa #1234
"Tengo Hambre" - Max, "Tengo hambre tambien yo" respondio Fabio

In [21]:
numero = 'hola8adios2bye4jaja'

In [22]:
#otro metodo
re.split(r"\d",numero) 'esto te ayuda a cortar por cada numero'

['hola', 'adios', 'bye', 'jaja']

In [23]:
def sumar_doble_derecha(numero1,numero2):
    '''Esta funcion regresa el valor de la multiplicacion de dos numeros'''
    return (numero1+2*numero2)

In [25]:
sumar_doble_derecha(3,5) #python respeta el orden de las operaciones

13

In [31]:
 def sumar_doble_medio_triple_derecha(numero1,numero2,numero3):
        return numero1+2*numero2+3*numero3

In [33]:
resultado=sumar_doble_medio_triple_derecha(1,2,3) 
resultado

14

In [ ]:
#resultado=sumar_doble_medio_triple_derecha(1,2,numero3=3)#(positional,positional, keyword)

In [ ]:
 def sumar_doble_medio_triple_derecha(numero1,numero2,numero3):
        return numero1+2*numero2+3*numero3

In [ ]:
#ejemplo de funcion con * y **

In [41]:
def mandado_completo(presupuesto, nombre = 'Anonimo',*amigos,**mandado_cantidades):
    print(f'La persona comprando es {nombre} y su presupuesto es {presupuesto}')
    print('Todo se va a repartir entre las siguientes personas')
    for amigo in amigos:
        print(f'*{amigo}')

#primero va posiciona, luego arks, luego keywoard y hasta el final quarks ese es el orden

In [42]:
#referencia:
#recuerda que el valor posicional siempre es necesario. Si no lo introduces, truena
def mandado_completo(posicional, *args, keywoard='defecto',**kwargs):

TypeError: mandado_completo() got multiple values for argument 'nombre'

In [ ]:
######## LABMDA FUNCTIONS #######

In [ ]:
def nombre_funcion(argumento):
    return argumento

In [1]:
# Sintaxtis tradicional de lambdas

# lambda argumentos: return

lambda argumento: argumento

In [3]:
def multiplicar2(numero):
    return numero*2

In [5]:
multiplicar2(5)

10

In [7]:
multiplicar2_lambda= lambda numero: numero *2

In [8]:
multiplicar2_lambda(5)

10

In [10]:
#un formato de lambda seria

sumar_lambda=lambda n1,n2: n1+n2

In [12]:
sumar_lambda(3,5)

8

In [ ]:
# par_impar_lambda = lambda numero:

In [14]:
lista_pares_impares=[]

numero=4


for i in range(n):
    appr

SyntaxError: invalid syntax (Temp/ipykernel_1708/3926023498.py, line 5)

In [15]:
prueba_lambda=(lambda caracter: caracter[-1])("fasdasda")

'a'

In [ ]:
lambda key:

In [9]:
cuadrado = lambda numero: numero**2

In [10]:
cuadrado(5)

25

In [12]:
#El map te ayuda a optimizar recursos y que sea mas simple de leer.7
numeros_entrada=[2,3,5,1,6,3]

In [13]:
map(cuadrado, numeros_entrada)

In [14]:
numeros_entrada=[cuadrado(valor) for valor in numeros_entrada]

In [18]:
#map en pandas, tambien conocido como apply

columna_mal = ['M','F','M','M','M','m','masculino','no se','F','brak'] #esta columna es mas dificil de tratar
#debido a que tienen un formato diferente

In [23]:
#para reparar lo anterior es hacer un diccionario

cambios={'m':'M','M':'M','masculino':'M','F':'F','no se':'N','brak':'N'}

In [24]:
list(map(lambda palabra: cambios[palabra], columna_mal))

['M', 'F', 'M', 'M', 'M', 'M', 'M', 'N', 'F', 'N']

In [ ]:
###Ejemplos de clases

In [ ]:
class Nueva():
    pass

In [ ]:
#En caso de que no haya nada en parentisis, se le pueden quitar y no habra problema

In [1]:
import time

def countdown(num_of_secs):
    while num_of_secs:
        m, s = divmod(num_of_secs, 60)
        min_sec_format = '{:02d}:{:02d}'.format(m, s)
        print(min_sec_format, end='/r')
        time.sleep(1)
        num_of_secs -= 1
        
    print('Countdown finished.')

inp = input('Input number of seconds to countdown: ')
countdown(inp)

Input number of seconds to countdown: 10

TypeError: unsupported operand type(s) for divmod(): 'str' and 'int'

In [8]:

# import the time module
import time
  
# define the countdown func.
def countdown(t):
    while t:
        mins, secs = divmod(t, 60)
        timer = '{:02d}:{:02d}'.format(mins, secs)
        print(timer, end="\r")
        time.sleep(1)
        t -= 1
    print('Tiempo agotado')
    

# function call
countdown(10)

Tiempo agotado

In [ ]:


DictPreguntasRespuestas={'Las galletas Oreo son m√°s antiguas que las galletas de chips de chocolate':'Verdadero, Oreo fue inventado en 1912',
'Napoleon Bonaparte era extremadamente bajo':'Falso, aunque mucha gente cree que era bajito, media 1.70 m','El protagonista de One Piece se llama Monkey D Adame':'Falso, se llama Monkey D Luffy',
'Los conejos son roedores':'Falso, los conejos son lagormorfos','La muralla China se ve desde el epsacio':'Falso, aunque muchos creen que se ve desde el espacio, solamente alcanza a verse a una altitud de 36km',
'Los encendedores fueron inventados antes que los cerillos':'Verdadero, los encendedores fueron inventados en 1823 mientras que los cerrillos en 1826',
'Will Smith progatonizo Matrix':'Falso, es protagonizada por Keanu Reeves','El personaje de Goku estuvo inspirado por un mono':'Verdadero, Akira Toriyama se inspiro en un mono para crear a Goku',
'La gema verde del infinito representa el poder':'Falso, representa el tiempo','El creador de Bob Esponja es un cientifico':'Verdadero, Stephen Hillenburg fue Biologo Marino',
'El guitarrista de Led Zeppelin se llama Slash':'Falso, se llama Jimmy Page','Krillin murio un total de 3 veces en Dragon Ball Z':'Verdadero, Krillin murio un total de 3 veces',
'El protagonista de Death Note se llama Night':'Falso, se llama Light','Cristiano Ronaldo es conocido como el Comandante':'Verdadero, SIIIIIIUUUUUUU'}

verdaderoofalso=['Verdadero o Falso']

# def NuevoJuego():
#     guess=[]
#     correcto=[]
#     num_pregunta=0

#     for key in DictPreguntasRespuestas:
#         print("-"*20)
#         guess=input('Verdadero o Falso?')
#         guess=guess.uper()
#         guesses.append(guess)
#         for adivina in verdaderoofalso:
#             print("-"*20)
#             print(adivina)

guess=input('Verdadero o Falso')
if isinstance(guess,str):
    guess=input('Porfavor intenta de nuevo con caracteres')
else:
    for key in DictPreguntasRespuestas:
        print('-'*20)

In [ ]:
#######PANDAS#######

In [4]:

import numpy as np
import pandas as pd

primer_serie.pdseries=np.random.randint(8,23,size=10)

NameError: name 'primer_serie' is not defined

In [5]:
primer_serie[5]

18

In [11]:
indices = ['uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve','diez']
primer_df=pd.DataFrame(np.random.randint(8,23,size=10))

In [16]:
pd.DataFrame(np.random.randint(8,23,size=[10,4]))

    0   1   2   3
0  21  17  18  22
1  13  16  15  20
2  13  19  18  15
3  13  15  21  16
4  15  21  19   9
5  11  12  16  18
6  13  13  15  15
7  15   8  18  13
8  12  10   8  11
9  16  16  10  19

In [18]:
primer_df=pd.DataFrame(np.random.randint(8,23,size=[10,4]))

In [19]:
primer_df.index=indices

In [20]:
primer_df.columns=['col1','col2','col3','col4']

In [21]:
primer_df['col2']

uno       12
dos       12
tres      12
cuatro    17
cinco     14
seis      14
siete     14
ocho      10
nueve     18
diez      10
Name: col2, dtype: int32

In [3]:
primer_df[['col2','col3']]

NameError: name 'primer_df' is not defined

In [2]:
##continuando con lo de pandas

#una manera de renombrar indices o columnas es hacer uso del metodo rename:

primer_df.rename(colums={'tres':'tercera','cuatro':'cuarta','cinco':'quinta'}, inplace=True)

#con el inplace = true se guardan los cambios efectuados al data frame, si no pones inplace, no se guardan, en general muchos metodos de pandas tienen inplace

In [5]:
data= np.random.randint(-8,23,size=[10,4])

In [7]:
pd.DataFrame(data,columns = ['uno','dos','tres','cuatro'])

   uno  dos  tres  cuatro
0   -6   -3    20      -5
1   -3   13    -7      -1
2   17   10    12      -3
3   -6   -2    16      12
4   16   17     0       4
5   14   -1    -7      -4
6   16   16    -2      -1
7   21   10     7       1
8    6    1    12      10
9   -2   -1    -5       8

In [12]:
paises=['Mexico','Canada','Chile','EUA','Colombia','Peru','Argentina','Uruguay','Paraguay','Brasil']
len(paises)

10

In [13]:
df_paises_col=pd.DataFrame(data,columns = ['Enero','Febrero','Marzo','Abril'],index=paises)

In [14]:
df_paises_col.columns=df_paises_col.columns.str.lower()

In [15]:
df_paises_col #tambien es posible usar f strings con pandass

           enero  febrero  marzo  abril
Mexico        -6       -3     20     -5
Canada        -3       13     -7     -1
Chile         17       10     12     -3
EUA           -6       -2     16     12
Colombia      16       17      0      4
Peru          14       -1     -7     -4
Argentina     16       16     -2     -1
Uruguay       21       10      7      1
Paraguay       6        1     12     10
Brasil        -2       -1     -5      8

In [20]:
df_paises_col=df_paises_col.reset_index(drop=True)
df_paises_col.drop(columns=['level_0'], inplace=True)

In [21]:
df_paises_col

       index  enero  febrero  marzo  abril
0     Mexico     -6       -3     20     -5
1     Canada     -3       13     -7     -1
2      Chile     17       10     12     -3
3        EUA     -6       -2     16     12
4   Colombia     16       17      0      4
5       Peru     14       -1     -7     -4
6  Argentina     16       16     -2     -1
7    Uruguay     21       10      7      1
8   Paraguay      6        1     12     10
9     Brasil     -2       -1     -5      8

In [24]:
df_paises_col.rename(columns={'index':'pais'},inplace=True) #con esto se cambian el nombre de columnas, sin olvidar el inplace

In [25]:
df_paises_col

        pais  enero  febrero  marzo  abril
0     Mexico     -6       -3     20     -5
1     Canada     -3       13     -7     -1
2      Chile     17       10     12     -3
3        EUA     -6       -2     16     12
4   Colombia     16       17      0      4
5       Peru     14       -1     -7     -4
6  Argentina     16       16     -2     -1
7    Uruguay     21       10      7      1
8   Paraguay      6        1     12     10
9     Brasil     -2       -1     -5      8

In [28]:
#data frame en dict

materiales = {'324324': [103, 204, 134],
              '324348': [3421, 4320, 21],
              '348293': [342423, 4324, 48239]}

df_materiales=pd.DataFrame(materiales)
df_materiales

   324324  324348  348293
0     103    3421  342423
1     204    4320    4324
2     134      21   48239

In [29]:
df_materiales=df_materiales.T

In [30]:
df_materiales

             0     1      2
324324     103   204    134
324348    3421  4320     21
348293  342423  4324  48239

In [31]:
df_materiales.columns=['ma√±ana','tarde','noche']

In [32]:
df_materiales

        ma√±ana  tarde  noche
324324     103    204    134
324348    3421   4320     21
348293  342423   4324  48239

In [34]:
df_materiales['tarde'].max() #metodo para encontrar el valor max

4324

In [35]:
df_materiales.mean() ##obtener promedio

ma√±ana    115315.666667
tarde       2949.333333
noche      16131.333333
dtype: float64

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:/Users/fhernandezcortez/Downloads/Data'

In [50]:
###como leer archivos desde una ruta especifica


!pwd  #te dice donde estas parado
!ls

/c/Users/fhernandezcortez/Documents/mm/Ironhack/Modulo1

pwd: ignoring non-option arguments

Juego Python
Lab-list-comprehension
ListComprehension.ipynb
README.md
Untitled.ipynb
Untitled1.ipynb
iris.csv
lab-advanced-regex
lab-data-vikings
lab-dicts-sets-tuples
lab-error-handling
lab-functional-programming
lab-lambda-functions
lab-map-reduce-filter
vehicles.rar
your-code

In [60]:
import os

base_path='vehicles/vehicles'

os.listdir(base_path)

['.DS_Store',
 'vehicles.csv',
 'vehicles.json',
 'vehicles.xlsx',
 'vehicles_messy.csv',
 'vehicles_pipe.txt',
 'vehicles_tab.txt']

In [63]:
df_dtypes_small=pd.read_csv(base_path +'/vehicles.csv',dtype={'Year':str},nrows=100)

In [64]:
df_dtypes_small.shape

(100, 15)

In [68]:
df_tab=pd.read_csv(base_path +'/vehicles_tab.txt',delimiter='\t') #aqui no jala al menos que quites los tabs
df_tab

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [73]:
df_pipe=pd.read_csv(base_path +'/vehicles_pipe.txt',delimiter='|')
df_pipe

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [77]:
df_excel=pd.read_excel(base_path+'/vehicles.xlsx',sheet_name='Sheet1') #asi se leen archivos de excel en python y con sheet name especificas la hoja

In [76]:
df_excel.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [78]:
pd.read_json(base_path+'/vehicles.json')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150